<div class="half-screen-dialog option-picker<% if(className){ %> <%=className%><% } %>">
  <div class="weui-mask"></div>
  <div class="weui-half-screen-dialog">
    <div class="weui-half-screen-dialog__hd">

      <div class="weui-half-screen-dialog__hd__side">
        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default btn-cancel"><%=cancel%></a>
      </div>
      <div class="weui-half-screen-dialog__hd__main">
        <strong class="weui-half-screen-dialog__title"><%=title%></strong>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary btn-enter"><%=enter%></a>
      </div>

    </div>

    <div class="weui-half-screen-dialog__bd">
      <div class="weui-half__bd">
        <div class="weui-cells__group">
          <div class="weui-cells weui-cells_radio">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
